*{
    margin:0;
    padding: 0;
}
.container{
    width:1170px;
    margin: auto;
}
header{
    background:url("../building.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}
.nav{
    float:right;
    list-style-type: none;
    margin-top: 30px;
}
.nav li{
    display: inline-block;
}
.nav li a{
    color:white;
    text-decoration: none;
    padding:5px 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
}
.nav li a:hover{
    background: white;
    color:gray;
}
.logo img{
    width:100px;
    float:left;
    height: auto;
}
.text{
    position: absolute;
    width: 600px;
    height:300px;
    margin:20% 30%;
    text-align: center;
}
.text h1{
    text-align: center;
    color:white;
    text-transform: uppercase;
    font-size: 60px;
}
.text a{
    border: 1px solid white;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color:white;
}
.text a:hover{
    background: white;
    color:gray;
}
